/* Анатомия */

/* 
селектор {css параметры;css параметры;css параметры; их может быть большое множество}
 с помощью него мы обращаемся из стилей к обьектам в html файле 

 /* CSS параметр */
/* 
 css свойство : значение свойства;
 */

/* Селекторы тега */

p {
    /*  Обратились ко ВСЕМ тегам Р на странице  */
}

span {
    /* обратились ко всем spanam */
    /* color: green; */
}

/* Селектор класса, начинается с точки */

/* 
.имя класса{
    css параметр;
    ...
    css параметр;
}
*/
.text {
    /* Обратились ко всем обьектам на странице с классом text */
    /* color: rosybrown; */
}

.paragraph {
    /* font-size: 20px; */
}

/* Селектор ID */

/* 
    #имя ID{
    css параметр;
    ...
    css параметр;
    }
    */
#block {
    /* color: green; */
}

/* Приоритет */

/* 1. Порядок записи, при равнозначных селекторах */

p {
    /* color: blue; */
}

/* Этот приоритетней,что снизу */
p {
    /* color: aquamarine; */
}

.text {
    /* /color: red; */
}

.text {
    /* color: green; */
}

.paragraph {
    /* color: red; */
}

/* Уточнение */
/* 2.Селектор класса приоритетней чем селектор тега */

p {
    /* color: black; */
}

/* Этот приоритетней */
.text {
    /* color: violet; */
}

div {
    /* color: red; */
}

/* Селектор ID САМЫЙ ПРИОРИТЕТНЫЙ */

p {
    /* color: burlywood; */
}

.name {
    /* color: blueviolet; */
}

/* Этот приоритетней и ID со значением "БЛОК" может быть один на странице */
#block {
    /* color: hotpink; */
}

/* Уточнение обращением */
/* Все обьекты DIV с классом text */
/* Этот приоритетней */
div.text {
    /* color: hotpink; */

}

/* Все обьекты с классом text */
.text {
    /* color: red; */
}

/* КОМБИНАЦИЯ СЕЛЕКТОРОВ КЛАССОВ */

/* Этот сааамый приоритетный */
#block {
    /* color: blue; */
}

/* Все обьекты с классами text и paragraph ОДНОВРЕМЕННО */
/* Этот приоритетней */
.name.paragraph {
    /* color: aqua; */
}

.name {
    /* color: red; */
}

/* Вложенность и приоритетность */

span {
    /* color: orange; */
}

p span {
    /* УТОЧНЕНИЕ значит ВЫШЕ ПРИОРИТЕТ */
    /* Обратились ко всем тегам SPAN внутри всех тегов Р */
    /* color: limegreen; */
}

/* Приоритетность по убыванию */

/* Приоритетность БОГ */
#id {}

/* Приоритетность  № 1 */
/* 
.класс .класс{

}
*/

/* Приоритетность № 2 */
/*
.класс .тег{
    
}
 */

/* Приоритетность № 3 */
/*
.тег .тег{
    
}
 */

/* Приоритетность № 4 */
/*
.тег{
    
}
 */

/* Перечисление */

/* 
селектор,селектор, ....{
    css параметры;
}
 */

.about__text,
.block__text {
    color: aqua
}


/* Чаще всего мы будем использовать Селектор одного класса без вложенности */
/* ПРИМЕР: */
.text {}


/* Селекторы атрибутов */

/* .text span { 
    color: greenyellow;
}

p .string {
    color: yellow;
}*/

[title="Имя"] {
    color: blueviolet;
}