/* Анатомия */

/* 
селектор {css параметры;css параметры;css параметры; их может быть большое множество}
 с помощью него мы обращаемся из стилей к обьектам в html файле 

 /* CSS параметр */
 /* 
 css свойство : значение свойства;
 */

/* Селекторы тега */

p{
    /*  Обратились ко ВСЕМ тегам Р на странице  */
}
span{
    /* обратились ко всем spanam */
    /* color: green; */
}

/* Селектор класса, начинается с точки */

/* 
.имя класса{
    css параметр;
    ...
    css параметр;
}
*/
.text {
    /* Обратились ко всем обьектам на странице с классом text */
    color: rosybrown;
}
.paragraph {
    /* font-size: 20px; */
}
    /* Селектор ID */

     /* 
    #имя ID{
    css параметр;
    ...
    css параметр;
    }
    */
    #block {
        color: green;
    }

    /* Приоритет */

    /* 1. Порядок записи, при равнозначных селекторах */

    p{
        color: blue;
    }
    /* Этот приоритетней,что снизу */
    p{
        color: aquamarine;
    }

    .text{
        /color: red;
    }
    .text{
        color: green;
    }
    .paragraph{
        color: red;
    }

    /* Уточнение */
    /* 2.Селектор класса приоритетней чем селектор тега */

    p{
       color: black; 
    }