/* Загальний селектор */
* {
    color: greenyellow;
}

/* За назвою тега */
h1 {
    color: brown;
}


/* За назвою тега */
p {
    color: slateblue;
}

/* Селектор за класом */
.text {
    color: fuchsia;
}

/* Селектор по деякіх класах */
.text,
.text1 {
    color: olivedrab;
}

/* Селектор по ID */
#prunk {
    color: midnightblue;
}

/* Звернення до всіх тегів з класом worm всередині тега р */
p .worm {
    color: peru;
}

/* Звернення до всіх об'єктів з класом worm i paragraph */
.worm.paragraph {
    color: crimson;
}

/* Звернення до тега li */
li {
    color: fuchsia;
}

/* Звернення до всіх тегів з класом texet-word2 всередині класу р */
p .text-word2 {
    color: darkkhaki;
}

/* Селектор по класу (для декількох класів можно використовувати) */
.header {
    color: firebrick;
}

/* Звернення до тегу <ul> слідуючим одразу за тегом з класом next-text */
.next-text+ul {
    color: gold;
}